
@model ContactViewModel

<div class="col-sm-1"></div>
<div class="col col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Creation form</h4>
        </div>
    </div>
    <form method="post"
          asp-controller="Contact"
          asp-action="Create">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Contact.Lastname"></label>
            <input asp-for="Contact.Lastname" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Contact.Firstname"></label>
            <input asp-for="Contact.Firstname" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Contact.Patronymic"></label>
            <input asp-for="Contact.Patronymic" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Contact.Phonenumber"></label>
            <input asp-for="Contact.Phonenumber" class="form-control" />
        </div>
        <div class="form-group">
            <label>Tags</label>
            <div>
                @foreach (var tag in Model.TagList)
                {
                    <span class="badge badge-pill badge-success">
                        <label>@tag</label>
                        <input type="checkbox" name="TagsToAssign" value="@tag" />
                    </span>
                    @:&nbsp;
                }
            </div>
            <div>
                <a asp-controller="Tag"
                    asp-action="List"
                    class="btn btn-sm btn-default">manage tags</a>
            </div>
        </div>
        <button type="submit"
                class="btn btn-primary">
            create
        </button>
        <a asp-controller="Contact"
           asp-action="List"
           class="btn btn-default">back</a>
    </form>
</div>