
@model Contact

<form method="post"
      asp-controller="Contact"
      asp-action="Edit">
    <input asp-for="ContactId" hidden />
    <div>
        <label asp-for="Lastname"></label>
        <input asp-for="Lastname" />
    </div>
    <div>
        <label asp-for="Firstname"></label>
        <input asp-for="Firstname" />
    </div>
    <div>
        <label asp-for="Patronymic"></label>
        <input asp-for="Patronymic" />
    </div>
    <div>
        <label asp-for="Phonenumber"></label>
        <input asp-for="Phonenumber" />
    </div>
    <button type="submit">submit</button>
    <a asp-controller="Contact"
       asp-action="List">back</a>
</form>