
@model ContactViewModel

@{ 
    IEnumerable<string> contactTags = Model.Contact.Tags ?? Enumerable.Empty<string>();
}

<div class="col-sm-1"></div>
<div class="col col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Edit form</h4>
        </div>
    </div>
    <form method="post"
          asp-controller="Contact"
          asp-action="Edit">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Contact.ContactId" hidden />
        <div class="form-group">
            <label asp-for="Contact.Lastname"></label>
            <input asp-for="Contact.Lastname" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Contact.Firstname"></label>
            <input asp-for="Contact.Firstname" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Contact.Patronymic"></label>
            <input asp-for="Contact.Patronymic" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Contact.Phonenumber"></label>
            <input asp-for="Contact.Phonenumber" class="form-control" />
        </div>
        <div class="form-group">
            <label>Tags</label>
            <div>
                @foreach (var tag in Model.TagList)
                {
                    <span class="badge badge-pill badge-success">
                        <label>@tag</label>
                        @if (contactTags.Contains(tag))
                        {
                            <input type="checkbox" name="TagsToAssign" value="@tag" checked />
                        }
                        else
                        {
                            <input type="checkbox" name="TagsToAssign" value="@tag"/>
                        }
                    </span>
                    @:&nbsp;
                }
            </div>
        </div>
        <button type="submit"
                class="btn btn-primary">
            submit
        </button>
        <a asp-controller="Contact"
           asp-action="List"
           class="btn btn-default">back</a>
    </form>
</div>