<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h4><b>PHONEBOOK</b></h4>
            </div>
        </div>
        @RenderBody()
    </div>
</body>
</html>
