
@model ContactListViewModel

<form method="get"
      asp-controller="Contact"
      asp-action="List">

    <input name="page" value="" hidden />
    <div>
        <label>name</label>
        <input name="fname" value="@Model.FilterName" />
    </div>
    <div>
        <label>phone</label>
        <input name="fphone" value="@Model.FilterPhonenumber" />
    </div>
    <button type="submit">submit</button>
    <a asp-controller="Contact"
       asp-action="list">reset</a>
</form>